<p id="notice"><%= notice %></p>

<h1>物件一覧</h1>

<table>
  <thead>
    <tr>
      <th>物件名</th>
      <th>賃料</th>
      <th>住所</th>
      <th>築年数</th>
      <th>備考</th>
    </tr>
  </thead>

  <tbody>
    <% @parents.each do |parent| %>
      <tr>
        <td><%= parent.name %></td>
        <td><%= parent.price %></td>
        <td><%= parent.address %></td>
        <td><%= parent.age %></td>
        <td><%= parent.other %></td>
        <td><%= link_to '詳細', parent %></td>
        <td><%= link_to '編集', edit_parent_path(parent) %></td>
        <td><%= link_to '削除', parent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '物件を登録する', new_parent_path %>
