<p id="notice"><%= notice %></p>

<p>
  <strong>物件名:</strong>
  <%= @parent.name %>
</p>

<p>
  <strong>賃料:</strong>
  <%= @parent.price %>
</p>

<p>
  <strong>住所:</strong>
  <%= @parent.address %>
</p>

<p>
  <strong>築年数:</strong>
  <%= @parent.age %>
</p>

<p>
  <strong>備考:</strong>
  <%= @parent.other %>
</p>
<hr>

  <strong>路線名:</strong>
    <% @childs.each do |child| %>
    <p><%= child.route_name %></p>
<% end %>

<%= link_to '編集', edit_parent_path(@parent) %> |
<%= link_to '戻る', parents_path %>
